.bg-primary {
    background-color: rgb(78, 16, 68)!important;
}

body {
    background-image: url("../assets/images/grand-central.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    border: rgb(255, 255, 255);
    border-style: double;
}

.card-header {
    border: rgb(255, 255, 255)!important;
    border-style: double!important;
}

.btn {
    background-color: rgb(78, 16, 68);
}

hr {
    background-color: white;
}
